-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream#main-stream
  - flash.each do |name, msg|
    .expose#flash-container
      .flash-message{class: "message alert alert-#{flash_class name}", role: "alert"}
        = msg

  .login-form
    .login-container
      = render partial: "form", locals: {mobile: true}

%footer.footer
  %ul
    - if display_password_reset_link?
      %li
        = link_to t("devise.shared.links.forgot_your_password"),
          new_password_path(resource_name),
          id: "forgot_password_link"
    - if display_registration_link?
      %li= link_to t("devise.shared.links.sign_up"), '/register'
    %li= link_to t("layouts.application.switch_to_standard_mode"), toggle_mobile_path
