- if controller_name != 'sessions'
  = link_to t('.sign_in'), new_session_path(resource_name)
  %br/
- if display_registration_link?
  = link_to t('.sign_up'), '/register'
  %br/
- else
  %b= t('.sign_up_closed')
  %br/
- if display_password_reset_link?
  = link_to t('.forgot_your_password'), new_password_path(resource_name)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t('.receive_confirmation'), new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t('.receive_unlock'), new_unlock_path(resource_name)
  %br/
