-# This is a default template ToS and Privacy Policy for diaspora* pods.
-# If you want to modify (or completely rewrite) these terms, create a
-# file called app/views/terms/terms.haml or app/views/terms/terms.erb
-# Once created, that file will be used automatically instead of this one.
-#
-# NOTE! The default terms have not been checked over by a lawyer and
-# thus are unlikely to provide full legal protection for all situations
-# for a podmin using them. They are also not specific to all countries
-# and jurisdictions. If you are unsure, please check with a lawyer.
-# We provide these for podmins as some basic rules that podmins
-# can communicate to users easily via the diaspora* server software.

/ These terms of service and privacy policy documents have been forked
/ from the App.Net ToS repository (https://github.com/appdotnet/terms-of-service).
/ The terms of use and privacy policy are available to you under the
/ CC BY-SA 3.0 Creative Commons license.
/ If you modify or copy this file, please do not remove this license text.

.container#terms
  %div{role: "tabpanel"}
    .row
      .col-md-8.col-md-offset-2
        %ul.nav.nav-tabs.nav-justified{role: "tablist"}
          %li.active{role: "presentation"}
            %a{href: "#tos", role: "tab", aria: {controls: "tos"}, data: {toggle: "tab"}}
              Terms of Service
          %li{role: "presentation"}
            %a{href: "#privacy", role: "tab", aria: {controls: "privacy"}, data: {toggle: "tab"}}
              Privacy Policy

    .row
      .col-md-8.col-md-offset-2.tab-content
        .tab-pane.active#tos{role: "tabpanel"}
          .page-header
            %h1
              #{AppConfig.settings.pod_name} - Terms of Service
              %small
                Last Updated: 10th January, 2023

          %p
            Here are the important things you need to know about accessing and using the <strong>#{AppConfig.settings.pod_name}</strong> (#{AppConfig.environment.url}) website and service (collectively, "Service"). These are our terms of service ("Terms"). Please read them carefully.

          %h2
            Accepting these Terms

          %p
            If you access or use the Service, it means you agree to be bound by all of the terms below. So, before you use the Service, please read all of the terms. If you don't agree to all of the terms below, please do not use the Service.
            - if AppConfig.admins.podmin_email?
              Also, if a term does not make sense to you, please let us know by e-mailing <a href="#{AppConfig.admins.podmin_email}">#{AppConfig.admins.podmin_email}</a>.

          %h2
            Changes to these Terms

          %p
            We reserve the right to modify these Terms at any time. For instance, we may need to change these Terms if we come out with a new feature or for some other reason.

          %p
            Whenever we make changes to these Terms, the changes are effective six (6) weeks after we post such revised Terms to our website (indicated by revising the date at the top of these Terms), or upon your acceptance if we provide a mechanism for your immediate acceptance of the revised Terms (such as a click-through confirmation or acceptance button). It is your responsibility to check the website regularly for changes to these Terms.

          %p
            If you continue to use the Service after the revised Terms go into effect, then you have accepted the revised Terms.

          %h2
            Privacy Policy

          %p
            For information about how we collect and use information about users of the Service, please check out our <a href="#privacy" aria-controls="privacy" data-toggle="tab">privacy policy</a>.

          %h2
            Third-Party Services

          %p
            From time to time, we may provide you with links to third party websites or services that we do not own or control. Your use of the Service may also include the use of applications that are developed or owned by a third party. Your use of such third party applications, websites, and services is governed by that party’s own terms of service or privacy policies. We encourage you to read the terms and conditions and privacy policy of any third party application, website or service that you visit or use. Note that while <strong>#{AppConfig.settings.pod_name}</strong> itself does not work directly with advertisers, third party applications may contain advertising or marketing materials provided by such third parties.

          %h2
            Creating Accounts

          %p
            When you create an account, you may use any name (real, fake or otherwise) for other users to see. However, if you create a "parody" account of a real living person, you must clearly label your account as such. Accounts that are not clearly marked as such and that impersonate other people without permission can be deleted without warning.

          %p
            Accounts created with fake email, invalid email, email that is not yours, email that gets reported as spam will be destroyed. 

          %p
            Supporting the pod is not optional, donation or other help is required for using this server. We use donorbox.org to manage donations, please review their terms and policies.

          %p
            When you create an account you only create one account, multiple accounts for spam or placeholders will be deleted and you will be banned. Accounts are intended for real users to use for real purposes.

          %p
            When you create an account you also agree to maintain the security of your password and accept all risks of unauthorized access to your account data and any other information you provide to <strong>#{AppConfig.settings.pod_name}</strong>.

          %p
            If you discover or suspect any Service security breaches, please let us know as soon as possible. For security holes in the diaspora* software itself, please contact <a href="mailto:security@diasporafoundation.org">the developers directly</a>.

          %h2
            Your Content & Conduct

          %p
            Our Service allows you and other users to post, link and otherwise make available content. You are responsible for the content that you make available to the Service, including its legality, reliability, and appropriateness.

          %p
            When you post, link or otherwise make available content to the Service, you grant us the right and license to display and distribute your content on or through the Service (including via applications). We may format your content for display throughout the Service, but we will not edit or revise the substance of your content itself. The displaying and distribution of your content happens strictly only according to the visibility rules you have set for the content. We will not modify the visibility of the content you have set.

          %p
            We cannot be held responsible should a programming or administrative error make your content visible to a larger audience than you had intended.

          %p
            This site diasp.org hosts the software diaspora for a preview of the codebase and it's functions, we do not guarantee any uptime or performance of the servers or software, we run this to educate what a distributed network is and gain interest in diaspora. 

          %p
            Aside from our limited right to your content, you retain all of your rights to the content you post, link and otherwise make available on or through the Service.

          %p
            You can remove the content that you posted by deleting it. Once you delete your content, it will not appear on the Service, but copies of your deleted content may remain in our system or backups for some period of time. Web server access logs might also be stored for some time in the system.

          %p
            Since diaspora* is a distributed social network, it is possible, depending on the visibility rules set to your content, that your content has been distributed to other diaspora* pods. When you delete your content, we will request those other pods to also delete the content. Our responsibility on the content being deleted from those other pods ends here. If for some reason, some other pod does not delete the content, we cannot be held responsible.

          %p
            In order to make <strong>#{AppConfig.settings.pod_name}</strong> a great place for all of us, please do not post, link and otherwise make available on or through the Service any of the following:

          %ul
            %li
              Pornographic content of any kind; http://www.merriam-webster.com/dictionary/pornography
            %li
              Artistic content that depics minors or images/language that sexulises minors;
            %li
              Automated content posting of any sort. No Bot, RSS readers, or scripts that post content automatically from other sources may be used.
            %li
              Content that is libelous, defamatory, bigoted, fraudulent or deceptive;
            %li
              Hate Speech as defined by the ICCPR: https://www.ohchr.org/en/instruments-mechanisms/instruments/international-covenant-civil-and-political-rights
            %li
              Content that is illegal or unlawful, that would otherwise create liability;
            %li
              Content that moderators deem does not support diaspora* core value of "be excellent to each other" and/or don't meet the social principles at https://diasporafoundation.org/community_guidelines
            %li
              Content that may infringe or violate any patent, trademark, trade secret, copyright, right of privacy, right of publicity or other intellectual or other right of any party;
            %li
              Mass or repeated promotions, political campaigning or commercial messages directed at users who do not follow you (SPAM);
            %li
              Private information of any third party (e.g., addresses, phone numbers, email addresses, Social Security numbers and credit card numbers); and
            %li
              Viruses, corrupted data or other harmful, disruptive or destructive files or code.

          %p
            Also, you agree that you will not do any of the following in connection with the Service or other users:

          %ul
            %li
              Use the Service in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Service or that could damage, disable, overburden or impair the functioning of the Service;
            %li
              Impersonate or post on behalf of any person or entity or otherwise misrepresent your affiliation with a person or entity;
            %li
              Collect any personal information about other users, or intimidate, threaten, stalk or otherwise harass other users of the Service;
            %li
              Create an account if you have been previously banned or suspended or removed from this service;
            - if AppConfig.settings.terms.minimum_age?
              %li
                Create an account or post any content if you are not over #{AppConfig.settings.terms.minimum_age} years of age;
            %li
              Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Service, users of the Service, or third parties.

          %h2
            Source code and materials

          %p
            This Service runs on a diaspora* social network server. This source code is licensed under an
            <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a> license which means you are allowed
            to and even encouraged to take the source code, modify it and use it.

          %p
            For full details about the diaspora* server <a href="https://github.com/diaspora/diaspora">see here</a>.

          %h2
            Hyperlinks and Third Party Content

          %p
            <strong>#{AppConfig.settings.pod_name}</strong> makes no claim or representation regarding, and accepts no responsibility for third party websites accessible by hyperlink from the Service or websites linking to the Service. When you leave the Service, you should be aware that these Terms and our policies no longer govern.

          %p
            A lot of the content on the Service is from you and others, and we don't review, verify or authenticate it, and it may include inaccuracies or false information. We make no representations, warranties, or guarantees relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole responsibility for and assume all risk arising from your use of or reliance on any content.

          %h2
            Unavoidable Legal Stuff

          %p
            %strong The Service and any other service and content included on or otherwise made available to you through the Service are provided to you on an as is or as available basis without any representations or warranties of any kind. We disclaim any and all warranties and representations (express or implied, oral or written) with respect to the Service and content included on or otherwise made available to you through the Service whether alleged to arise by operation of law, by reason of custom or usage in the trade, by course of dealing or otherwise.

          %p
            %strong In no event will <strong>#{AppConfig.settings.pod_name}</strong> be liable to you or any third party for any special, indirect, incidental, exemplary or consequential damages of any kind arising out of or in connection with the Service or any other service and/or content included on or otherwise made available to you through the Service, regardless of the form of action, whether in contract, tort, strict liability or otherwise, even if we have been advised of the possibility of such damages or are aware of the possibility of such damages. This section will be given full effect even if any remedy specified in this agreement is deemed to have failed of its essential purpose.

          %p
            You agree to defend, indemnify and hold us harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys' fees, costs, penalties, interest and disbursements) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party relating to your use of the Service or the use of the Service by any person using your account, including any claim that your use of the Service violates any applicable law or regulation, or the rights of any third party, and/or your violation of these Terms.

          - if AppConfig.settings.terms.jurisdiction?
            %h2
              Governing Law

            %p
              The validity of these Terms and the rights, obligations, and relations of the parties under these Terms will be construed and determined under and in accordance with the laws of #{AppConfig.settings.terms.jurisdiction}.

            %h2
              Jurisdiction & Waiver of Representative Actions

            %p
              You expressly agree that exclusive jurisdiction for any dispute with <strong>#{AppConfig.settings.pod_name}</strong>, or in any way relating to your use of the <strong>#{AppConfig.settings.pod_name}</strong> website or Service, resides in the courts of #{AppConfig.settings.terms.jurisdiction} and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of #{AppConfig.settings.terms.jurisdiction} in connection with any such dispute including any claim involving <strong>#{AppConfig.settings.pod_name}</strong>. You further agree that you and <strong>#{AppConfig.settings.pod_name}</strong> will not commence against the other a class action, class arbitration or other representative action or proceeding.

          %h2
            Termination

          %p
            If you breach any of these Terms, we have the right to suspend or disable your access to or use of the Service with or without notice or warning. No donations are ever refunded for any reason. If you no longer use this service it is your responsibility to update donations via donorbox.org or whatever means used by you.

          %h2
            Entire Agreement

          %p
            These Terms constitute the entire agreement between you and <strong>#{AppConfig.settings.pod_name}</strong> regarding the use of the Service, superseding any prior agreements between you and <strong>#{AppConfig.settings.pod_name}</strong> relating to your use of the Service.

          %h2
            Feedback

          %p
            We love feedback. Please let us know what you think of the Service, these Terms and, in general, <strong>#{AppConfig.settings.pod_name}</strong>. When you provide us with any feedback, comments or suggestions about the Service, these Terms and, in general, <strong>#{AppConfig.settings.pod_name}</strong>, you irrevocably assign to us all of your right, title and interest in and to your feedback, comments and suggestions.

          - if AppConfig.admins.podmin_email?
            %h2
              Questions & Contact Information

            %p
              Questions or comments about the Service may be directed to us at the email address <a href="#{AppConfig.admins.podmin_email}">#{AppConfig.admins.podmin_email}</a>.

        .tab-pane#privacy{role: "tabpanel"}
          .page-header
            %h1
              #{AppConfig.settings.pod_name} - Privacy Policy

          %p
            Our privacy policy applies to information we collect when you use or access our website located at #{AppConfig.environment.url} and social networking services, or just interact with us. We may change this privacy policy from time to time. Whenever we make changes to this privacy policy, the changes are effective six (6) weeks after we post the revised privacy policy to our website (as indicated by revising the date at the top of our privacy policy). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.

          %h2
            Collection of Information

          %h3
            Information You Provide to Us

          %p
            We collect information you provide directly to us. For example, we collect information when you create an account, subscribe, participate in any interactive features of our services, fill out a form, request customer support or otherwise communicate with us. The types of information we may collect include your name (real of fake), email address and other contact or identifying information you choose to provide.

          %h3
            Information We Collect Automatically When You Use the Services

          %p
            When you access or use our services, we automatically collect information about you, including:

          %dl
            %dt
              Log Information
            %dd
              We may log information about your use of our services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our services.
            %dt
              Device Information
            %dd
              We may collect information about the computer you use to access our services, including the hardware model, and operating system and version.

          %h2
            Use of Information

          %p
            We do not use your information for serving up ads.

          %p
            We may use information about you for various purposes, including to:

          %ul
            %li
              Provide, maintain and improve our services;
            %li
              Send you technical notices, updates, security alerts and support and administrative messages;
            %li
              Respond to your comments, questions and requests;
            %li
              Communicate with you about <strong>#{AppConfig.settings.pod_name}</strong>-related news and information;
            %li
              Monitor and analyze trends, usage and activities in connection with our services; and
            %li
              Personalize and improve our services.

          %h2
            Sharing of Information

          %p
            Remember, we don't share your information with advertisers.

          %p
            We may share personal information about you as follows:

          %ul
            %li
              If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request;
            %li
              To enforce applicable user agreements or policies, including our <a href="/terms#terms">terms of service</a>; and to protect <strong>#{AppConfig.settings.pod_name}</strong>, our users or the public from harm or illegal activities;
            %li
              In connection with any merger, sale of <strong>#{AppConfig.settings.pod_name}</strong> assets, financing or acquisition of all or a portion of our business to another company or individual; and
            %li
              If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information.

          %p
            We may also share aggregated or anonymized information that does not directly identify you.

          %h2
            Security

          %p
            <strong>#{AppConfig.settings.pod_name}</strong> takes reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.

          %h2
            Your Information Choices

          %h3
            Account Information

          %p
            You may update, correct or delete information about you at any time by logging into your online account and modifying your personal profile. You may also delete your account at will via the settings page, but note that we may retain certain information as required by law or for legitimate business purposes. We may also retain cached or archived copies of your information for a certain period of time, for example in backup archives.

          %h3
            Cookies

          %p
            Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.

          - if AppConfig.admins.podmin_email?
            %h2
              Contact Us

            %p
              If you have any questions about this privacy policy, please contact us at the email address <a href="#{AppConfig.admins.podmin_email}">#{AppConfig.admins.podmin_email}</a>.

