.section
  .container-fluid
    <h2>Subscription Confirmed</h2><br>
    #{current_user.first_name}, Thank you for subscribing. Your donation keeps diasporg going! 
    %div.hidden
      = flag_subscriber
