.section
  .container-fluid
    <h2>Subscription/Donation Setup</h2><br>
    I ask you for about 2 pennies a day from you to help out<br>
    <br><b>Why?</b><br>I run the diaspora* code for you, rather than you run it on your computer, on a fast server based in Bend, Oregon. I don't have ads, I don't sell your data.<br>I have been running this pod over 13 years with 99.9% uptime. I make your access to diaspora* simple. 
    <br>
    <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/standard-4?default_interval=a" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
    <br>
    Blocking javascript? Donation Page here at <a href="https://donorbox.org/standard-4">donorbox</a><br>

