.section
  .container-fluid
    - if user_signed_in?
      = render "plain/support_your_pod"
    - unless user_signed_in?
      Please sign in to access this page
      = render "layouts/header_not_connected"
