.contentdonations.sidebar.info-bar
  - if current_user.subscriber_donator
    Thank you for being a diasp.org supporter! Use the bubble on the bottom of pages for support.
    <script>var FreeScoutW={f:{"email":"#{current_user.email}","name":"#{current_user.name}","cf_3":"#{current_user.username}@diasp.org"},s:{"color":"rgba(0,0,0,0.2)","position":"bl","id":2373310928}};(function(d,e,s){if(d.getElementById("freescout-w"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="freescout-w";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","https://support.diasp.org/modules/enduserportal/js/widget.js?v=3515");</script>
  - else
    It's  
    = Time.new.strftime("%B")
    and time to ask you again to <a href="/supportyourpod">support diasp.org for 2024</a>! Thank You!
    <script>var FreeScoutW={f:{"email":"#{current_user.email}","name":"#{current_user.name}","cf_4":"#{current_user.username}@diasp.org"},s:{"color":"rgba(0,0,0,0.2)","position":"bl","id":1669052668}};(function(d,e,s){if(d.getElementById("freescout-w"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="freescout-w";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","https://support.diasp.org/modules/enduserportal/js/widget.js?v=3515");</script>
