%ul.nav.navbar-nav.navbar-right
  - if display_registration_link? && !current_page?(controller: "/registrations", action: :new)
    %li= link_to t("devise.shared.links.sign_up"), '/register', class: "login"
  - unless current_page?(controller: "/sessions", action: :new)
    %li= link_to t("devise.shared.links.sign_in"), new_user_session_path, class: "login"
